.row {
  display: flex;
  list-style: none;
  margin: 0px;
}

.square {
  height: 150px;
  width: 150px;
  font-size: 90px;
  text-align: center;
  font-family: 'Baloo', cursive;
  color: #CB0000;
  background-color: #50312f;
  border: 3px solid #3f6c45;
  margin: 0px;
}

.result-message {
  font-family: 'Baloo', cursive;
  color: #CB0000;
  font-size: 64px;
  width: 50%;
  padding: 3%;
}

body {
  display: flex;
}
